smcql.log.lck
conf/setup.codd
*.DS_Store
.classpath
.project
.settings/
Config.conf
runeva.sh
rungen.sh
runtogether.sh
smcql.log*
/bin/
/target/
deps/emp/emp-m2pc/
deps/emp/emp-ot/
deps/emp/emp-readme/
deps/emp/emp-sh2pc/
deps/emp/emp-tool/
deps/emp/relic/
deps/emp/emp-bridge/src/*
deps/emp/emp-bridge/bin/*
jnijavacpp.cpp
run-alice.sh
run-bob.sh
src/main/java/org/smcql/compiler/emp/generated/*
src/main/java/org/smcql/codegen/smc/compiler/emp/*
src/main/cpp/compile_commands.json
src/main/cpp/.cache/*
